{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Diversity in Electronic Music</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,600,700,700i|Montserrat:300,400,500,600,700|Roboto+Mono:100,200,300,400,500,600,1000" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href='{% static "lib/bootstrap/css/bootstrap.min.css"%}'   rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href='{% static "lib/font-awesome/css/font-awesome.min.css"%}'  rel="stylesheet">
  <link href='{% static "lib/animate/animate.min.css"%}'  rel="stylesheet">
  <link href='{% static "lib/ionicons/css/ionicons.min.css"%}'  rel="stylesheet">
  <link href='{% static "lib/owlcarousel/assets/owl.carousel.min.css"%}'  rel="stylesheet">
  <link href='{% static "lib/lightbox/css/lightbox.min.css"%}'  rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href='{% static "css/style.css" %}'  rel="stylesheet">

  <!-- =======================================================
    Theme Name: Rapid
    Theme URL: https://bootstrapmade.com/rapid-multipurpose-bootstrap-business-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body>
  <section id="header">
      <div class="container">
        <div class="justify-content-center align-self-center">
          <h2> Diversity in Electronic Music. </h2>
        </div>
      </div>
  </section>

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro" class="clearfix">
    <div class="container d-flex h-100">
      <div class="row justify-content-center align-self-center">
        <div class="col-md-6 intro-info order-md-first order-last">

          This survey is part of the research on music diversity of <a href="https://lorenzoporcaro.wordpress.com/" target="_blank">Lorenzo Porcaro</a>, PhD student at the Universitat Pompeu Fabra.

          If you choose to participate, you will discover some electronic music from all around the world! 

          <br><br>
          <a href="{% url 'randomizer_en' %}" class="btn-get-started scrollto">Go to the survey</a><br>

          <br>

          Esta encuesta es parte de la investigación sobre la diversidad musical realizada por Lorenzo Porcaro, un estudiante de doctorado de la Universitat Pompeu Fabra.

          ¡Si decides participar, descubrirás un poco de música electrónica de todo el mundo!    
          
          <br><br>
          <a href="{% url 'randomizer_es' %}" class="btn-get-started scrollto"> Ir a la encuesta</a><br>


          <br>
            Questa indagine fa parte della ricerca sulla diversitá musicale condotta da Lorenzo Porcaro, studente di dottorato della Universitat Pompeu Fabra.

            Partecipando, scoprirete un po' di musica elettronica da tutto il mondo!
            <br><br>
            <a href="{% url 'randomizer_it' %}" class="btn-get-started scrollto"> Vai all'inchiesta</a><br>

        </div>
  
        <div class="col-md-5 order-md-last order-first">
          <div class="box">
            <img src='{% static "img/pad2.jpg" %}' alt="" class="img-fluid">
          </div>
        </div>

      </div>

    </div>
  </section><!-- #intro -->

  <main id="main">

    <!--==========================
      Services Section
    ============================-->
    <section id="services" class="section-bg">
      <div class="container">
        <br>
        <header class="section-header">
          <h3>Discover / Descubre / Scopri </h3><br>
        </header>

        <div class="row">

          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.2s">
            <div class="box">
              <div class="icon" style="background: #fceef3;"><i class="ion-ios-analytics-outline" style="color: #ff689b;"></i></div>
              <h4 class="title"><a href="https://www.youtube.com/playlist?list=PLO_ftEbUcr_exmEWO1Y8EYEEcK6jwlwdJ" target="_blank">YouTube</a></h4>
              <p class="description">Listen again to the tracks shown in the survey in YouTube.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.2s">
            <div class="box">
              <div class="icon" style="background: #fff0da;"><i class="ion-ios-bookmarks-outline" style="color: #e98e06;"></i></div>
              <h4 class="title"><a href="https://open.spotify.com/playlist/1WAdvDkS6JNKcGlmseLXJC?si=YKt5h2FUQoOn6HNK0CT9Gg" target="_blank">Spotify</a></h4>
              <p class="description">Listen again to the tracks shown in the survey in Spotify.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.2s">
            <div class="box">
              <div class="icon" style="background: #e6fdfc;"><i class="ion-ios-paper-outline" style="color: #3fcdc7;"></i></div>
              <h4 class="title"><a href="https://soundcloud.com/plorenzzz/sets/diversity-in-electronic-music" target="_blank">SoundCloud</a></h4>
              <p class="description">Listen again to the tracks shown in the survey in SoundCloud.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.2s">
            <div class="box">
              <div class="icon" style="background: #eafde7;"><i class="ion-ios-speedometer-outline" style="color:#41cf2e;"></i></div>
              <h4 class="title"><a href="https://drive.google.com/file/d/1AgidlBO1rDVlS7srv4Kcog97fwqB_3il/view?usp=sharing" target="_blank">Bandcamp</a></h4>
              <p class="description">Support the artists shown in the survey via Bandcamp.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.2s">
            <div class="box">
              <div class="icon" style="background: #e1eeff;"><i class="ion-ios-world-outline" style="color: #2282ff;"></i></div>
              <h4 class="title"><a href="https://www.upf.edu/web/mtg/" target="_blank">MTG</a></h4>
              <p class="description">Discover more about the Music Technology Group in Barcelona.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.2s">
            <div class="box">
              <div class="icon" style="background: #ecebff;"><i class="ion-ios-clock-outline" style="color: #8660fe;"></i></div>
              <h4 class="title"><a href="https://trompamusic.eu/" target="_blank">TROMPA</a></h4>
              <p class="description">Discover more about TROMPA, research project sponsored by the EU.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #services -->


    <!--==========================
      Frequently Asked Questions Section
    ============================-->
    <section id="faq">
      <div class="container">
        <header class="section-header">
          <h3>Frequently Asked Questions</h3>
        </header>

        <ul id="faq-list" class="wow fadeInUp">
          <li>
            <a data-toggle="collapse" class="collapsed" href="#faq1">During the survey, do I have to listen to the tracks entirely?<i class="ion-android-remove"></i></a>
            <div id="faq1" class="collapse" data-parent="#faq-list">
              <p>
                Not necessarily. Feel free to go forward and backward in the lists, behaving like you normally do when you listen to music.
              </p>
            </div>
          </li>

          <li>
            <a data-toggle="collapse" href="#faq2" class="collapsed"> How have you selected the tracks and artists shown in the survey? <i class="ion-android-remove"></i></a>
            <div id="faq2" class="collapse" data-parent="#faq-list">
              <p>
                We surfed the web looking for electronic music artists from all around the world.
              </p>
            </div>
          </li>

          <li>
            <a data-toggle="collapse" href="#faq3" class="collapsed">Who can I contact for further information?<i class="ion-android-remove"></i></a>
            <div id="faq3" class="collapse" data-parent="#faq-list">
              <p>
                lorenzo dot porcaro at upf dot edu
              </p>
            </div>
          </li>

        </ul>

      </div>
      <br>
      <br>
    </section><!-- #faq -->


    <section id="new">
      <div class="container d-flex">
        <div class="col-md-10 intro-info order-md-first order-last">
          This project has received funding from the European Union's Horizon 2020 research and innovation programme H2020-EU.3.6.3.1. - <i> Study European heritage, memory, identity, integration and cultural interaction and translation, including its representations in cultural and scientific collections, archives and museums, to better inform and understand the present by richer interpretations of the past </i> under grant agreement No 770376.
        </div>
        <br>
        <div class="col-md-2 intro-img order-md-last order-first">
          <img src='{% static "img/eu-flag.jpg" %}' alt="" class="img-fluid">
        </div>
      </div>
      <br>
      
    </section><!-- #faq -->


  </main>

  <!--==========================
    Footer
  ============================-->
  <footer id="footer" class="section-bg">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Rapid</strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Rapid
        -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <!-- Uncomment below i you want to use a preloader -->
  <!-- <div id="preloader"></div> -->

  <!-- JavaScript Libraries -->
  <script src='{% static "lib/jquery/jquery.min.js"%}' ></script>
  <script src='{% static "lib/jquery/jquery-migrate.min.js"%}' ></script>
  <script src='{% static "lib/bootstrap/js/bootstrap.bundle.min.js"%}' ></script>
  <script src='{% static "lib/easing/easing.min.js"%}' ></script>
  <script src='{% static "lib/mobile-nav/mobile-nav.js"%}' ></script>
  <script src='{% static "lib/wow/wow.min.js"%}' ></script>
  <script src='{% static "lib/waypoints/waypoints.min.js"%}' ></script>
  <script src='{% static "lib/counterup/counterup.min.js"%}' ></script>
  <script src='{% static "lib/owlcarousel/owl.carousel.min.js"%}' ></script>
  <script src='{% static "lib/isotope/isotope.pkgd.min.js"%}' ></script>
  <script src='{% static "lib/lightbox/js/lightbox.min.js"%}' ></script>

  <!-- Template Main Javascript File -->
  <script src='{% static "js/main.js" %}'></script>

</body>
</html>
