{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Diversity in Electronic Music</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,600,700,700i|Montserrat:300,400,500,600,700|Roboto+Mono:100,200,300,400,500,600,1000" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href='{% static "lib/bootstrap/css/bootstrap.min.css"%}'   rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href='{% static "lib/font-awesome/css/font-awesome.min.css"%}'  rel="stylesheet">
  <link href='{% static "lib/animate/animate.min.css"%}'  rel="stylesheet">
  <link href='{% static "lib/ionicons/css/ionicons.min.css"%}'  rel="stylesheet">
  <link href='{% static "lib/owlcarousel/assets/owl.carousel.min.css"%}'  rel="stylesheet">
  <link href='{% static "lib/lightbox/css/lightbox.min.css"%}'  rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href='{% static "css/style.css" %}'  rel="stylesheet">

  <!-- =======================================================
    Theme Name: Rapid
    Theme URL: https://bootstrapmade.com/rapid-multipurpose-bootstrap-business-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body>
  <section id="header">
      <div class="container">
        <div class="justify-content-center align-self-center">
          <h2>|||| Perceptions of Diversity in Electronic Music</h2>
        </div>
      </div>
  </section>

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro" class="clearfix">
    <div class="container d-flex h-100">
      <div class="row justify-content-center align-self-center">
        <div class="col-md-6 intro-info order-md-first order-last">

          <br><br>
          <h2> Hi, </h2>

          if you have landed here, it means that you are interested in Electronic Music, Diversity, Music Recommender Systems or a combination of those.
          <br><br>
          If so, you will find few insights from the work done on music recommendation diversity by <a href="https://lorenzoporcaro.com/" target="_blank">Lorenzo Porcaro</a>, PhD student at the Music Technology Group (UPF), in collaboration with <a href="https://emiliagomez.com/" target="_blank">Emilia Gómez</a> (Joint Research Center, European Commission) and <a href="https://chato.cl/" target="_blank">Carlos Castillo</a> (Web Science and Social Computing Group, UPF & ICREA).
          <br><br>
          The info in this page comes from two works published and to be presented soon: 
          <br>
          ¬ Porcaro, L., Gómez, E., & Castillo, C. (2022). <b>Perceptions of Diversity in Electronic Music: the Impact of Listener, Artist, and Track Characteristics </b>. In CSCW ’22: ACM Conference on Computer-Supported Cooperative Work and Social Computing, November 12–16, 2022, Taipei, Taiwan.
          <br>
          ¬ Porcaro, L., Gómez, E., & Castillo, C. (2022). <b>Diversity in the Music Listening Experience: Insights from Focus Group Interviews</b>. In CHIIR ’22: ACM SIGIR Conference on Human Information Interaction and Retrieval, March 14–18, 2022, Regensburg, Bavaria.
          <br><br>
          You can read the preprint in <a href="https://arxiv.org/search/?searchtype=author&query=Porcaro%2C+L" target="_blank">arXiv</a> (together with other papers around these topics).


        </div>
      </div>
    </div>
  </section><!-- #intro -->

  <main id="main">



    <!--==========================
      Features Section
    ============================-->
    <section id="features">
      <div class="container">

        <div class="row feature-item">
          <div class="col-lg-6 wow fadeInUp">
            <img src='{% static "img/pad2.jpg" %}' class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0">
            <h4>Perceptions of Diversity in Electronic Music: the Impact of Listener, Artist, and Track Characteristics.</h4>
            <br>
            <p>
                Shared practices to assess the diversity of retrieval system (e.g. search engines, recommender systems) results are still debated in the Information Retrieval community, partly because of the challenges of determining <b>what diversity means in specific scenarios</b>, and of understanding how diversity is perceived by end-users. 
            </p><p>
                The field of Music Information Retrieval is not exempt from this issue. Even if fields such as Musicology or Sociology of Music have a long tradition in questioning the representation and the impact of diversity in cultural environments, <b>such knowledge has not been yet embedded into the design and development of music technologies</b>. 
            </p>
          </div>
        </div>

        <div class="row feature-item mt-5 pt-5">
          <div class="col-lg-6 wow fadeInUp order-1 order-lg-2">
            <img src='{% static "img/dj2.jpg" %}' class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 wow fadeInUp pt-4 pt-lg-0 order-2 order-lg-1">
              <p>
                Focusing on electronic music, we investigate <b>the characteristics of listeners, artists, and tracks that are influential in the perception of diversity</b>. Specifically, we center our attention on 1) understanding the relationship between perceived diversity and computational methods to measure diversity, and 2) analyzing how listeners' domain knowledge and familiarity influence such perceived diversity. 
            </p><p>
                We design a user-study wherein <b>listeners are asked to compare pairs of lists of tracks and artists, and to select the most diverse list from each pair</b>. We compare participants’ ratings with results obtained through computational models built using audio tracks' features and artist attributes. 
            </p><p>
                We find that such models are generally aligned with participants' choices when most of them agree that one list is more diverse than the other. In addition, we observe how <b>differences in domain knowledge, familiarity, and demographics influence the level of agreement among listeners</b>, and between listeners and computational diversity metrics.
            </p>
          </div>
          
        </div>




      </div>
    </section><!-- #about -->


    <!--==========================
      Why Us Section
    ============================-->
    <section id="why-us" class="wow fadeIn">


      <div class="container">
        <div class="row counters">

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">115</span>
            <p>Participants</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">24</span>
            <p>Lists</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">1380</span>
            <p>Annotations</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">47</span>
            <p>Tracks</p>
          </div>
  
        </div>

      </div>
    </section>



    <!--==========================
      Features Section
    ============================-->
    <section id="features">
      <div class="container">

        <div class="row feature-item">
          <div class="col-lg-6 wow fadeInUp">
            <img src='{% static "img/divsur.png" %}' class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0">
            <h4>Diversity in the Music Listening Experience: Insights from Focus Group Interviews</h4>
            <br>
            <p>
            Music listening in today's digital spaces is highly characterized by the availability of huge music catalogues, accessible by people all
            over the world. In this scenario, recommender systems are designed to guide listeners in finding tracks and artists that best fit their requests, having therefore the <b>power to influence the diversity of the music they listen to</b>. 
            </p>
            <p>
            Several works have proposed new techniques for developing diversity-aware recommendations, but little is known about how <b>people perceive diversity while interacting with music recommendations</b>. In this study, we interview several listeners about the role that diversity plays in their listening experience, trying to get a better understanding of how they interact with music recommendations. 
            </p>
            <p>
            We recruit the listeners among the participants of our previous study, where they were confronted with the notion of diversity when asked to identify, from a series of electronic music lists, the most diverse ones according to their beliefs. As a follow-up, in this qualitative study we carry out semi-structured interviews to <b>understand how listeners may assess the diversity of a music list and to investigate their experiences with music recommendation diversity</b>. 
            </p>
          </div>
          
        </div>

      </div>
    </section><!-- #about -->



    <!--==========================
      Clients Section
    ============================-->
    <section id="testimonials">
      <div class="container">

        <header class="section-header">
          <h3>Insights from Interviews</h3>
        </header>

        <div class="row justify-content-center">
          <div class="col-lg-8">

            <div class="owl-carousel testimonials-carousel wow fadeInUp">

              <div class="testimonial-item">
                <h3>Leticia</h3>
                <h4>Electronic Music Newcomer</h4>
                <p>
                This kind of prejudice or bias we have about music that we do not know is because we get to know it through the representations of what is considered to be.
                </p>
              </div>

              <div class="testimonial-item">
                <h3>Joan</h3>
                <h4>Occasional Electronic Music listener</h4>
                <p>
                I realized while making the survey that I had a very strict definition about electronic music myself.
                </p>
              </div>

              <div class="testimonial-item">
                <h3>Jacqueline</h3>
                <h4>Electronic Music Enthusiast</h4>
                <p>
                I can feel like I can make a better decision of what is diverse, but then there is kind of a bias that comes based on the fact that I like this music a lot.
                </p>
              </div>
    
              <div class="testimonial-item">
                <h3>Alberto</h3>
                <h4>Occasional Electronic Music listener</h4>
                <p>
                The electronic music artists that I went to listen to and that I liked before participating in the survey were predominantly white male, which I suppose is still what is predominant in the industry to some extent but definitely it is not the only thing.
                </p>
              </div>
    
              <div class="testimonial-item">
                <h3>Anna</h3>
                <h4>Skeptic listener</h4>
                <p>
                Taking that plunge into something new is really hard, and I do not know if music recommender systems could bridge that barrier of making it more attractive.
                </p>
              </div>
    
              <div class="testimonial-item">
                <h3>Andrew</h3>
                <h4>Newcomer to EDM</h4>
                <p>
                I never liked EDM but algorithms presented to me different tracks, and I found myself listening to it, and noticing the differences within this genre. In the end, I started listening to it more often.
                </p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- #testimonials -->


    <!--==========================
      Services Section
    ============================-->
    <section id="services" class="section-bg">
      <div class="container">
        <br>
        <header class="section-header">
          <h3>Discover</h3><br>
        </header>

        <div class="row">

          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.2s">
            <div class="box">
              <div class="icon" style="background: #fceef3;"><i class="ion-ios-analytics-outline" style="color: #ff689b;"></i></div>
              <h4 class="title"><a href="https://www.youtube.com/playlist?list=PLO_ftEbUcr_exmEWO1Y8EYEEcK6jwlwdJ" target="_blank">YouTube</a></h4>
              <p class="description">Listen to the survey's tracks in YouTube.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.2s">
            <div class="box">
              <div class="icon" style="background: #fff0da;"><i class="ion-ios-bookmarks-outline" style="color: #e98e06;"></i></div>
              <h4 class="title"><a href="https://open.spotify.com/playlist/1WAdvDkS6JNKcGlmseLXJC?si=YKt5h2FUQoOn6HNK0CT9Gg" target="_blank">Spotify</a></h4>
              <p class="description">Listen to the survey's tracks in Spotify.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.2s">
            <div class="box">
              <div class="icon" style="background: #e6fdfc;"><i class="ion-ios-paper-outline" style="color: #3fcdc7;"></i></div>
              <h4 class="title"><a href="https://soundcloud.com/plorenzzz/sets/diversity-in-electronic-music" target="_blank">SoundCloud</a></h4>
              <p class="description">Listen to the survey's tracks in in SoundCloud.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.2s">
            <div class="box">
              <div class="icon" style="background: #eafde7;"><i class="ion-ios-speedometer-outline" style="color:#41cf2e;"></i></div>
              <h4 class="title"><a href="https://drive.google.com/file/d/1AgidlBO1rDVlS7srv4Kcog97fwqB_3il/view?usp=sharing" target="_blank">Bandcamp</a></h4>
              <p class="description">Support the artists shown in the survey via Bandcamp.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.2s">
            <div class="box">
              <div class="icon" style="background: #e1eeff;"><i class="ion-ios-world-outline" style="color: #2282ff;"></i></div>
              <h4 class="title"><a href="https://www.upf.edu/web/mtg/" target="_blank">MTG</a></h4>
              <p class="description">Discover more about the Music Technology Group in Barcelona.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.2s">
            <div class="box">
              <div class="icon" style="background: #ecebff;"><i class="ion-ios-clock-outline" style="color: #8660fe;"></i></div>
              <h4 class="title"><a href="https://trompamusic.eu/" target="_blank">TROMPA</a></h4>
              <p class="description">Discover more about TROMPA, research project sponsored by the EU.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #services -->




    <!--==========================
      Frequently Asked Questions Section
    ============================-->
    <section id="faq">
      <div class="container">
        <header class="section-header">
          <h3>Frequently Asked Questions</h3>
        </header>

        <ul id="faq-list" class="wow fadeInUp">

          <li>
            <a data-toggle="collapse" href="#faq2" class="collapsed"> How have you selected the tracks and artists shown in the survey? <i class="ion-android-remove"></i></a>
            <div id="faq2" class="collapse" data-parent="#faq-list">
              <p>
                We surfed the web looking for electronic music artists from all around the world.
              </p>
            </div>
          </li>

          <li>
            <a data-toggle="collapse" href="#faq3" class="collapsed">Who can I contact for further information?<i class="ion-android-remove"></i></a>
            <div id="faq3" class="collapse" data-parent="#faq-list">
              <p>
                lorenzo dot porcaro at upf dot edu
              </p>
            </div>
          </li>

        </ul>

      </div>
      <br>
      <br>
    </section><!-- #faq -->


    <section id="new">
      <div class="container d-flex">
        <div class="col-md-10 intro-info order-md-first order-last">
          This project has received funding from the European Union's Horizon 2020 research and innovation programme H2020-EU.3.6.3.1. - <i> Study European heritage, memory, identity, integration and cultural interaction and translation, including its representations in cultural and scientific collections, archives and museums, to better inform and understand the present by richer interpretations of the past </i> under grant agreement No 770376.
        </div>
        <br>
        <div class="col-md-2 intro-img order-md-last order-first">
          <img src='{% static "img/eu-flag.jpg" %}' alt="" class="img-fluid">
        </div>
      </div>
      <br>
      
    </section><!-- #faq -->


  </main>

  <!--==========================
    Footer
  ============================-->
  <footer id="footer" class="section-bg">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Rapid</strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Rapid
        -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <!-- Uncomment below i you want to use a preloader -->
  <!-- <div id="preloader"></div> -->

  <!-- JavaScript Libraries -->
  <script src='{% static "lib/jquery/jquery.min.js"%}' ></script>
  <script src='{% static "lib/jquery/jquery-migrate.min.js"%}' ></script>
  <script src='{% static "lib/bootstrap/js/bootstrap.bundle.min.js"%}' ></script>
  <script src='{% static "lib/easing/easing.min.js"%}' ></script>
  <script src='{% static "lib/mobile-nav/mobile-nav.js"%}' ></script>
  <script src='{% static "lib/wow/wow.min.js"%}' ></script>
  <script src='{% static "lib/waypoints/waypoints.min.js"%}' ></script>
  <script src='{% static "lib/counterup/counterup.min.js"%}' ></script>
  <script src='{% static "lib/owlcarousel/owl.carousel.min.js"%}' ></script>
  <script src='{% static "lib/isotope/isotope.pkgd.min.js"%}' ></script>
  <script src='{% static "lib/lightbox/js/lightbox.min.js"%}' ></script>

  <!-- Template Main Javascript File -->
  <script src='{% static "js/main.js" %}'></script>

</body>
</html>
